@font-face {
    font-family: fontAwesome ;
    src: url(../fonts/fa-solid-900.ttf);
    
}
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');
.fuente-primaria {
    font-family: 'Xanh Mono', monospace;
    width: auto;
}
